<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
		   connectionString="Data Source=(localdb)\v11.0;Initial Catalog=KVIK;Integrated Security=True"
		   providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="WcfService.Service">
				<endpoint address="" binding="netTcpBinding" contract="WcfService.IService" >
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8080/WcfService/Service/"  />
					</baseAddresses>
				</host>
			</service>
		</services>
		
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>