<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=KVIK;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.serviceModel>
	<services>
			<service name="WcfService.Service">				
				<endpoint address="net.tcp://localhost:3306/WcfService/Service" 
						  binding="netTcpBinding" bindingConfiguration="bindConf" 
						  contract="WcfService.IService">
				</endpoint>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="bindConf" transferMode="Buffered"/>				
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

</configuration>
