<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="WcfConnectionString"
		   connectionString="http://localhost:8733/Design_Time_Addresses/WcfService/Service/"/>
		<!--<add name="ConnectionString"
		   connectionString="Data Source=(localdb)\v11.0;Initial Catalog=KVIK;Integrated Security=True"
		   providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString"
		connectionString="Data Source=93.190.46.34,33301;
		Persist Security Info=False;
		Initial Catalog=uh1011463_db;
		User ID=uh1011463_user;
		pwd=C8cAMV4RMa"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
